.simpsonContainer{
    width: 50vw;
    max-width: 50vw;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}
.simpsonContainer li{
    margin-bottom: 5px;
    font-size: 20px;
}
