*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e3e3e3;
}
li{
  list-style-type: none;
}
.main-title{
  margin: 30px 0 50px;
  text-align: center;
  font-size: 40px;
}